@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Manrope', sans-serif; */
/* font-family: 'Nunito Sans', sans-serif; */
/* font-family: 'Noto Sans', sans-serif; */
/* font-family: 'Karla', sans-serif; */
/* font-family: 'Mulish', sans-serif; */
/* font-family: 'Work Sans', sans-serif; */

body {
  margin: 0;
  background-color: rgb(20, 20, 23);
  color: white;
  font-family: 'Karla', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  margin: 50px auto;
}

.headline {
  font-weight: 700;
}

/* ------------------- Main Page Header ------------------- */
.mainPageHeader {
  width: 250px;
  margin: 0 auto;
  margin-bottom: 30px;
}

hr {
  width: 250px;
  border: 1px solid rgb(39, 39, 48);
}

.containerHeadlineAndButton {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 6px;
}

/* Plus Link */
.addContactLink {
  border-radius: 40px;
  padding: 0px 7px 3px 8px;
  background-color: rgb(111, 111, 255);
  color: rgb(20, 20, 23);
  font-size: 1.2em;
  font-weight: 300;
}

/* Searchbar */
.searchbar {
  width: 89%;
  border-radius: 40px;
  border-style: none;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: white;
  padding: 6px 16px;
  background-color: rgb(39, 39, 48);
}

.contactImg {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  background-color: white;
}

.contactOverviewList {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contactImgAndName {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}


/*  */
.contactListLinks {
  width: 250px;
  margin: 0 auto;
}

/* links style */
a {
  text-decoration: none;
  color: white;
}

/* ------------------- Add Contact Page ------------------- */

/* Abbrechen Link */
.cancelBackLink {
  border-radius: 40px;
  padding: 0px 7px 3px 8px;
  background-color: rgb(111, 111, 255);
  color: rgb(20, 20, 23);
  font-size: 1.2em;
  font-weight: 300;
}

/* Hinzufügen Button */
.addButton {
  border-style: none;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: rgb(111, 111, 255);
  color: rgb(20, 20, 23);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 0.9em;
}

.addButton:hover {
  background-color: white;
  color: rgb(20, 20, 23);
  cursor: pointer;
}

.containerInput {
  margin: 35px auto;
  width: 250px;
  display: flex;
  flex-direction: column;
}

.containerInput input {
  border-style: none;
  border-radius: 40px;
  background-color: rgb(39, 39, 48);
  margin-bottom: 15px;
  padding: 6px 16px;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  color: white;
}

.containerInput input::placeholder {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
}

/* ------------------- Footer ------------------- */
.footer {
  width: 250px;
  margin: 20px auto;
  display: flex;
  justify-content: space-between;
}

.footer a {
  border-style: none;
  border-radius: 40px;
  padding: 5px 10px;
  background-color: rgb(111, 111, 255);
  color: rgb(20, 20, 23);
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  font-size: 0.85em;
}

/* Header Kontaktdetails */
.headerBackTo {
  width: 250px;
  margin: 0 auto;
}

/* Kontaktdetails Page */

.mainKontaktDetails {
  width: 250px;
  margin: 0 auto;
}



.profilImgDetailPage {
  margin: 0 auto;
  margin-top: 25px;
  width: 80px;
  height: 80px;
  background-color: white;
  border-radius: 80px;
}

.nameCentered {
  text-align: center;
  font-weight: 700;
}

.sectionKontaktDaten {
  margin: 20px 0;
}

.sectionKontaktDaten p {
  text-align: center;
}